* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif; /* Changing font to Arial */
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  background-color: rgb(106, 169, 221);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box h1 {
  padding-bottom: 1rem;
  font-size: 24px;
  font-weight: bold;
  color: black; /* Changing heading color */
}

.box h2 {
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  color: black; /* Changing heading color */
}

.loading {
  font-size: 24px;
  font-weight: bold;
  color: black; /* Changing loading text color */
}

.inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  width: 10rem;
  margin-top: 10px;
  border: none;
  background: rgb(52, 205, 232);
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: rgb(56, 238, 244); /* Changing button color on hover */
}

.time {
  padding-top: 1rem;
  font-size: 16px;
}
